<!-- <h3>List of restaurants</h3>
<mat-grid-list cols="2" rowHeight="50px">
  <mat-grid-tile *ngFor="let restaurant of restaurants">
    <mat-card class="my-card">
      <mat-card-title>{{restaurant.name}}</mat-card-title>
      <mat-card-subtitle>{{restaurant.city}}</mat-card-subtitle>
    
      <img mat-card-image [src]='restaurant.imageUrl' alt="{{restaurant.name}}">
      <p >{{restaurant.address}}</p>
      <p >{{restaurant.webSiteUrl}}</p>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>  -->
<!-- <mat-grid-list></mat-grid-list> -->

<div id="main">
  <ul id="lista">
      <li *ngFor="let rest of listAllRestaurants()" class="resto">
        <mat-card class="example-card">
          <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <img mat-card-image src="{{rest.imageUrl}}" class="slikaResto">
            
          </mat-card-header>
          
          <mat-card-content>
            <mat-card-title class="naslovResto">{{rest.name}}</mat-card-title>
            <mat-card-subtitle class="adresaRest">{{rest.city}}</mat-card-subtitle>
            <p class="adresaRest">{{rest.address}} </p>
          </mat-card-content>
        </mat-card>
            
      </li>
  </ul>
</div>