ul{
   list-style: none;
}
.naslov{
    width: 100%;
    /* float: left; */
    text-align: center;
    font-size: 50px;
    color: #7c2c0c;
    font-weight: bold;
    line-height: 60px;
}

.paragraf{
    width: 80%;
    float: left;
    font-size: 16px;
    color: #7c2c0c;
    margin: 0px;
    padding-top: 30px;
    font-weight: 500;
}
.tekst{
    float: left;
    /* position: relative;
    top: 15px;
    left: 75px; */
    /* text-align: center; */
    max-width: 50%;
}
.slike{
    max-width: 50%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
/* .restoraniLista{
    top: 60px;
} */
.restTekst{
    width: 100%;
    font-size: 14px;
    color: #7c2c0c;
    text-align: center;
    margin-bottom: -15px;
    /* margin: 0px; */
    font-weight: 500;
}
.imeRest{
    width: 100%;
    font-size: 18px;
    color: #7c2c0c;
    text-align: center;
    margin: 0px;
    font-weight: bold;
    font-size: 25px;
}

.RestSlika{
    width: 60%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.naslovRest{
    width: 100%;
    /* float: left; */
    text-align: center;
    font-size: 35px;
    color: #7c2c0c;
    line-height: 60px;
}
.restorani{
    max-width: 410px;
    height: 280px;
    margin-left: 35px;
}
.listaRest{
    margin-top: 60px;
    display: flex;
}

li{
    margin: 5px;
    max-width: 30%;
    height: 250px;
}
.mainKarta{
    background-color: bisque;
}
