*{
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
    font-family: Times, "Times New Roman", Georgia, serif;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('src/assets/ethincPattern.jpg');
    background-size: 600px 100px;
    position: relative;
    ;
}
