.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.text-container {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.text-container h1 {
  font-size: 2rem;
}

.text-container p {
  font-size: 1.2rem;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
}

.image-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.food-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  padding: 2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.food-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.food-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.food-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f2f2f2;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.food-item img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-left: 1rem;
}

.food-item h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.food-item p {
  font-size: 1rem;
  margin: 0;
}

.example-card {
  max-width: 400px;
  margin-top: 30px;
  margin-bottom: 8px;
  margin-left: 120px;
}

/* #likeIcon{
  margin-left: 150px;
  margin-bottom: -11px;
} */
/* #likeIcon2{
  position: absolute;
  top: 0px;
  right: 0px;
} */

/* #likeIcon3{
  margin-left: 75px;
  margin-top: 0px;
}

#likeIcon4{
  margin-left: 70px;
  margin-top: 0px;
}

#likeIcon5{
  margin-left: 170px;
  margin-top: 0px;
}

#likeIcon6{
  margin-left: 340px;
  margin-top: 0px;
}
#likeIcon7{
  margin-left: 120px;
  margin-top: 10px;
} */
.mat-card {
  /* position: relative; */
  width: 400px; /* adjust this value to your desired width */
}

.mat-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#likeIcon {
  margin-left: 10px; /* add some spacing between the icon and other elements */
}


.hoverable:hover {
  color: red;
  cursor: pointer;
}
#places{
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
/* main {
  background-image: url('https://i.pinimg.com/564x/74/6f/40/746f4019efd849ed37bcd3efe622f60d--macedonia-traditional-dresses.jpg');
  opacity: 0.8; /* set the opacity to 50% */
 /* }  */
/* main::before {
  content: '';
  background-image: url('https://i.pinimg.com/564x/74/6f/40/746f4019efd849ed37bcd3efe622f60d--macedonia-traditional-dresses.jpg');
  opacity: 1; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
} */
main::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://i.pinimg.com/564x/74/6f/40/746f4019efd849ed37bcd3efe622f60d--macedonia-traditional-dresses.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: -1;
}

<<<<<<< HEAD


=======
#welcome{
  width: 50%;
  height: 10%;
  margin: auto;
  line-height: 100px;
  background: url('src/assets/Picture1.png');
  background-size: cover;
  font-family:'Libre Baskerville', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: darkred;
}
>>>>>>> 999eb00f77de62ca0f8be2cdbc64908e45689058
