<!-- <div class="nav">
       <a routerLink="/home"mat-button color="warn" id="about">About</a>
       <a mat-button color="warn" id="showList">Discover by city
       <ul>
        <li *ngFor="let city of cities" (click)="onCityClick($event,city)">{{city.name}}
            <city-component [selectedCity] = "city" (onCityClick)="onCityClick($event)"></city-component>
        </li> 
       </ul>
    </a>
</div> -->
<nav>
    <ul>
        <li> <a mat-button color="warn" routerLink="/home" color="warn"  id="home">Traditional food in </a></li>
        <li><input type="text" id="search" placeholder="Search cities..." [(ngModel)]="searchTerm">
            <button mat-button color="warm" id="findButton" (click)="getFilteredCity">Search</button></li>
    </ul>
</nav>