<!-- <div class="nav">
       <a routerLink="/home"mat-button color="warn" id="about">About</a>
       <a mat-button color="warn" id="showList">Discover by city
       <ul>
        <li *ngFor="let city of cities" (click)="onCityClick($event,city)">{{city.name}}
            <city-component [selectedCity] = "city" (onCityClick)="onCityClick($event)"></city-component>
        </li> 
       </ul>
    </a>
</div> -->
<nav>
    <ul class="search">
        <!-- <li id="text"> <a routerLink="/home">Traditional food in...</a></li> -->
        <li><input type="text" id="search" placeholder="Search cities..." [(ngModel)]="searchTerm">
            <button id="findButton" (click)="getFilteredCity">Search</button></li>
        <li id="allRest" class="toRight"><button routerLink="/restaurants">See all restaurants</button></li>
        <li id="allCities" class="toRight"><button routerLink="/cities">See all cities</button></li>
    </ul>
</nav>