#cities ul li{
  display: none;
}

#cities:hover ul li{
  display: block;
}

#cities a.active ul li{
  display: block;
}

.nav {
  display: flex;
  align-items: center;
  background-color: beige;
  padding: 10px;
}

.nav a {
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  margin: 0 10px;
  text-decoration: none;
  color: darkred;
}

.nav a:hover{
  text-decoration: underline;
}